<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.bsuirhelper.android"
          android:versionCode="11"
          android:versionName="0.4">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21"/>

    <application
        android:label="BSUIR Helper"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        >
        <!-- ACTIVITIES -->
        <activity
            android:name="ru.bsuirhelper.android.ui.notes.ActivityEditNote"
            android:label="Создать заметку"/>

        <activity
            android:name="ru.bsuirhelper.android.ui.ActivityDrawerMenu"
            android:label="BSUIR Helper"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="ru.bsuirhelper.android.ui.schedule.ActivityDeleteGroups"
            android:label="Удаление групп"
            android:theme="@style/AppTheme"
            >
        </activity>

        <activity
            android:name="ru.bsuirhelper.android.ui.notes.ActivityDetailNote"
            android:label="Заметка"
            >
        </activity>
        <activity
            android:name="ru.bsuirhelper.android.ui.ActivitySettings"
            android:label="Настройки"/>

        <!-- WIDGET -->
        <service
            android:name="ru.bsuirhelper.android.appwidget.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <receiver
            android:name="ru.bsuirhelper.android.appwidget.ScheduleWidgetProviderBig"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день (большое)">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info_big">
            </meta-data>
        </receiver>
        <receiver
            android:name="ru.bsuirhelper.android.appwidget.ScheduleWidgetProviderMedium"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день (среднее)">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info_medium">
            </meta-data>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
