<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.bsuirhelper.android.bsuirhelper"
          android:versionCode="1"
          android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="18"/>


    <application
        android:label="Bsuir Helper"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat"
        >

        <activity
            android:name="ru.bsuirhelper.android.ui.ActivityManagerGroups"
            android:label="Группы "/>

        <activity
            android:name="ru.bsuirhelper.android.ui.ActivityMain"
            android:label="BSUIR Helper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="ru.bsuirhelper.android.ui.ActivityDeleteGroups"
            android:label="Удаление групп"
            >
        </activity>
        <!-- WIDGET !-->
        <service
            android:name="ru.bsuirhelper.android.appwidget.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
        <receiver
            android:name="ru.bsuirhelper.android.appwidget.ScheduleWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info">
            </meta-data>
        </receiver>
        <!-- WIDGET !-->
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
