<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.bsuirhelper.android"
          android:versionCode="2"
          android:versionName="0.2">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18"/>
    sdd

    <application
        android:label="BSUIR Helper"
        android:icon="@drawable/ic_launcher"
        android:debuggable="false"
        android:theme="@style/Theme.AppCompat"
        >
        <!-- ACTIVITIES -->
        <activity
            android:name=".ui.schedule.ActivityManagerGroups"
            android:label="Группы "/>
        <activity
            android:name=".ui.notes.ActivityEditNote"
            android:label="Создать заметку"/>

        <activity
            android:name=".ui.schedule.ActivitySchedule"
            android:label="BSUIR Helper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.schedule.ActivityDeleteGroups"
            android:label="Удаление групп"
            >
        </activity>

        <activity
            android:name=".ui.teachers.ActivityManagerTeachers"
            android:label="Преподаватели"
            >
        </activity>
        <activity
            android:name=".ui.notes.ActivityDetailNote"
            android:label="Заметка"
            >
        </activity>
        <activity
            android:name=".ui.notes.ActivityNotes"
            android:label="Заметки"/>
        <activity
            android:name=".ui.ActivitySettings"
            android:label="Настройки"/>

        <!-- WIDGET -->
        <service
            android:name="ru.bsuirhelper.android.appwidget.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
        <receiver
            android:name=".appwidget.ScheduleWidgetProviderBig"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info_big">
            </meta-data>
        </receiver>
        <receiver
            android:name=".appwidget.ScheduleWidgetProviderMedium"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день2">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info_medium">
            </meta-data>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
