<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.bsuirhelper.android"
    >


    <application
        android:label="BSUIR Helper"
        android:name=".app.App"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        >
        <!-- ACTIVITIES -->
        <activity
            android:name=".app.ui.activity.ActivityEditNote"
            android:label="Создать заметку"/>

        <activity
            android:name=".app.ui.activity.MainActivity"
            android:label="BSUIR Helper"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.activity.ActivityDetailNote"
            android:label="Заметка"
            >
        </activity>
        <activity
            android:name=".app.ui.activity.ActivitySettings"
            android:label="Настройки"/>

        <!-- WIDGET -->
        <service
            android:name=".app.ui.appwidget.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <receiver
            android:name=".app.ui.appwidget.ScheduleWidgetProviderBig"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день (большое)">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info_big">
            </meta-data>
        </receiver>
        <receiver
            android:name=".app.ui.appwidget.ScheduleWidgetProviderMedium"
            android:icon="@drawable/ic_launcher"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Расписание на день (среднее)">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_info_medium">
            </meta-data>
        </receiver>

        <provider
            android:authorities="ru.bsuirhelper.android.app.core.database.cache"
            android:name=".app.core.cache.CacheContentProvider"
            android:enabled="true"
            android:exported="true" />>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e5be378183c6362c108dae73987b2ecc18b39712" />
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
